.page-head {
  text-align: center;
}
.title {
  margin: 20px 0;
}
.sub-title {
  margin: 40px 0;
}
.services {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.service-container {
  align-items: center;
  justify-content: center;
  width: 29%;
  margin: 0 20px 20px 0;
  border: 1px solid #eaeaeb;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  button {
    background: transparent;
    border: 0;
    width: 100%;
    margin: auto;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 0 3px 20px 0 rgba(131, 134, 163, 0.12);
  }
}
.service-wrapper {
}
.image-container {
  text-align: center;
}
.service-image {
  width: 80px;
}
.service-title {
  text-align: center;
  p {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 14px;
  }
}
.question {
  color: #4a4b4d;
  text-align: center;
  margin: 40px 0 60px 0;
  p {
    font-size: 1.5em;
  }
}
.service-list {
  display: flex;
  flex-direction: column;
  button {
    background: transparent;
    width: 100%;
    cursor: pointer;
  }
}
.list-item {
  margin-bottom: 10px;
  padding: 17.5px 20px;
  box-sizing: border-box;
  border: 1px solid #eceef1;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  color: #4a4b4d;
  display: block;
  margin: 10px 0;
  width: 100%;
}
.list-item:hover {
  box-shadow: 0 3px 20px 0 rgba(131, 134, 163, 0.12);
}
.zip-code-form {
  div {
    width: 200px;
    margin: auto;
    span {
      margin-left: -25px;
    }
  }
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  input {
    width: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
  }
  button {
    width: 200px;
    margin: 40px auto;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #235197;
    color: white;
    cursor: pointer;
  }
  button:disabled {
    background: #dddddd;
  }
  .err {
    color: red;
    margin: 0 auto;
    width: 200px;
  }
}
.comment-form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  textarea {
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
  }
  button {
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #235197;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background: #4478bf;
  }
}
.calender {
  width: 358px;
  margin: auto;
}
.ctrl {
  width: 358px;
  margin: auto;
  button {
    width: 200px;
    margin: 40px auto;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #235197;
    color: white;
    cursor: pointer;
    display: block;
  }
  button:disabled {
    background: #dddddd;
  }
  .err {
    color: red;
    position: absolute;
    margin-top: -35px;
    margin-left: 75px;
  }
}
@media only screen and (max-width: 826px) {
  .service-container {
    width: 45%;
  }
  .comment-form {
    width: 80%;
  }
}
@media only screen and (max-width: 610px) {
  .service-container {
    width: 100%;

    margin: 0 0 20px 0;
  }
  .comment-form {
    width: 100%;
  }
}
