.page-head {
  text-align: center;
  margin-top: 40px;
  h1 {
    font-weight: 400;
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}
.title {
  margin: 20px 0;
}
.sub-title {
  margin: 40px 0;
}
.services {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.service-container {
  align-items: center;
  justify-content: center;
  width: 23%;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  padding-bottom: 40px;
  padding-top: 40px;
  cursor: pointer;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  background: #ffffff;
}
.service-container:hover {
  box-shadow: none;
  border: 4px solid #1dbab4;
  padding: 36px;
}
.image-container {
  text-align: center;
}
.service-image {
  width: 80px;
}
.service-title {
  text-align: center;
  p {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 14px;
  }
}
.arrow-left {
  margin: 20px 0 0 9px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
}
.arrow-left:hover {
  color: #1dbab4;
}
.details-wrapper {
  width: 80%;
  margin: auto;
}
.question {
  text-align: center;
  margin: 20px 0 60px 0;
  p {
    font-size: 1.5em;
  }
}
.service-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  button {
    text-align: left;
    width: 400px;
    cursor: pointer;
    margin: 0 auto 20px auto;
    img {
      margin-bottom: 0;
    }
  }
  .continue {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #1dbab4;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    margin: 20px auto auto auto;
    text-align: center;
  }
  .continue:hover {
    background: #1ba39f;
  }
}
.continue {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: #1dbab4;
  color: #ffffff;
  cursor: pointer;
  width: 200px;
  margin: 20px auto auto auto;
  text-align: center;
}
.continue:hover {
  background: #1ba39f;
}
.list-item {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  display: block;
  margin: 10px 0;
  width: 100%;
  background: #fff;
}
.list-item:hover {
  box-shadow: none;
  border: 2px solid #1dbab4;
  padding-top: 18px;
  padding-bottom: 18px;
}
.zip-code-form {
  div {
    width: 200px;
    margin: auto;
    span {
      margin-left: -25px;
      color: #00efd1;
    }
  }
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  input {
    width: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
  }
  .err {
    color: #ffffff;
    margin: 0 auto;
    width: 200px;
  }
}
.comment-form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 40px 0;
  }
  textarea {
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  .err {
    color: #ffffff;
    position: absolute;
    margin-top: -35px;
  }
}
.calender {
  width: 358px;
  margin: auto;
  display: flex !important;
}
.ctrl {
  width: 358px;
  margin: auto;
  .err {
    color: #ffffff;
  }
}
.formWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  input,
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  button {
    width: 200px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background: #235197;
    cursor: pointer;
    display: block;
  }
  button:hover {
    background: #4478bf;
  }
  button:disabled {
    background: #dddddd;
  }
  .err {
    color: #ffffff;
    position: absolute;
    margin-top: -35px;
    margin-left: 75px;
  }
}
.obj-answer {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 17.5px 20px;
  box-sizing: border-box;
  border: 1px solid #eceef1;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  display: block;
  margin: auto auto 20px auto;
  .option-nbr {
    display: flex;
    margin-bottom: 10px;
    .option {
      flex: 2;
      margin-right: 20px;
      width: 200px;
    }
    .number {
      button {
        width: 25px;
        line-height: 25px;
        border-radius: 15px;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      .manus {
        color: #4a4b4d;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      .nbr {
        margin: 10px;
      }
      .plus {
        color: white;
        background: #00efd1;
        border: none;
      }
    }
  }

  .description {
    font-size: 0.8em;

    hr {
      margin-bottom: 10px;
    }
  }
}
@media only screen and (max-width: 1359px) {
  .service-container {
    width: 30%;
  }
}
@media only screen and (max-width: 860px) {
  .service-container {
    width: 45%;
  }
  .service-list {
    width: 90%;
  }
}

@media only screen and (max-width: 610px) {
  .service-container {
    width: 90%;

    margin: 20px auto;
  }
  .service-list {
    button {
      width: 90%;
    }
  }
  .comment-form {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .calender {
    width: 328px;
  }
}
